---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign item_number = 0 %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      {% assign item_number = item_number | plus: 1 %}
      {% if category[0] == "patent" %}
        <p class="archive__item-excerpt publication-list-item">
          <a class="publication-patent-link" href="{{ base_path }}{{ post.url }}">
            [{{ item_number }}] {{ post.citation }}
          </a>
        </p>

      {% elsif category[0] == "conferences" %}
        <p class="archive__item-excerpt publication-list-item">
          {% if post.link %}
            <a class="publication-patent-link" href="{{ post.link }}">
              [{{ item_number }}] {{ post.citation }}
            </a>
          {% else %}
            <a class="publication-patent-link" href="{{ base_path }}{{ post.url }}">
              [{{ item_number }}] {{ post.citation }}
            </a>
          {% endif %}

          <a class="publication-patent-link" href="{{ base_path }}{{ post.url }}" rel="permalink">
            <i class="fa fa-link" aria-hidden="true" title="Permalink"></i>
            <span class="sr-only">Permalink</span>
          </a>
        </p>
      {% else %}
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


